<div class="container result-summary <%= status %>">
    <table class="result">
        <tbody>
        <tr>
            <td class="result-title <%= status %>" colspan="2">
                <%= title_message %>
            </td>
        </tr>
        <tr>
            <th>Result</th>
            <td>
                <span class="error_info <%= status %>">
                    <%= result_message %>
                </span>
            </td>
        </tr>
        <tr>
            <th>Files</th>
            <td>
                <% for(key in file_list) { %>
                  <%= key %>: <%= file_list[key] %><br/>
                <% } %>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container result-group">
    <h2>Validation Output</h2>

    <% for(var i=0; i< errors.length; i++){ %>
    <div class="error-item">
        <h3>
            <% if(errors[i].level == "error"){ %>
            <span class="label label-danger error_level error">
                <%= errors[i].level %>
            </span>
            <% } else if(errors[i].level == "warning"){ %>
            <span class="label label-warning error_level warning">
                <%= errors[i].level %>
            </span>
            <% } %>

            <%= errors[i].annotation[0].key %> : <%= errors[i].annotation[0].value %> ,
            <%= errors[i].message %>
        </h3>
        <ul>
            <% for(var j = 1; j < errors[i].annotation.length; j++) { %>
                <% if(errors[i].annotation[j].is_auto_annotation) { %>
                <li data-auto-annotation="true">
                    <%= errors[i].annotation[j].key %> : <%= errors[i].annotation[j].suggested_value[0] %>
                </li>
                <% } else if(errors[i].annotation[j].is_suggest) { %>
                    <%= errors[i].annotation[j].key %> : <%= errors[i].annotation[j].suggested_value %>
                <% }else{%>
                <li>
                    <%= errors[i].annotation[j].key %> : <%= errors[i].annotation[j].value %>
                </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <% } %>
</div>

<% if(annotated_filetypes.length > 0){ %>
    <div class="container user-reaction">
        <div class="input-group">
        <% for(var i=0; i< annotated_filetypes.length; i++){ %>
            <a href="<%= annotated_file_baseurl %>/<%= annotated_filetypes[i] %>/autocorrect" target="_blank">auto-corrected file (<%= annotated_filetypes[i] %>)</a><br/>
        <% } %>
        </div>
    </div>
<% } %>
