<div class="container result-summary <%= status %>">
    <table class="result">
        <tbody>
        <tr>
            <td class="result-title <%= status %>" colspan="2">
                <%= title_message %>
            </td>
        </tr>
        <tr>
            <th>Result</th>
            <td>
                <span class="error_info <%= status %>">
                    <%= result_message %>
                </span>
            </td>
        </tr>
        <tr>
            <th>Files</th>
            <td>
                <% for(key in file_list) { %>
                  <%= key %>: <%= file_list[key] %><br/>
                <% } %>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container result-group">
    <h2>Error Message</h2>

    <% for(var i=0; i< errors.length; i++){ %>

        <% if(errors[i].level == "error"){ %>
        <h3>
            <span class="label label-danger error_level error"><%= errors[i].level %></span>
            <%= errors[i].message %>
        </h3>
        <div class="tbl_error">

        <% }else if(errors[i].level == "warning"){ %>
        <h3>
            <span class="label label-warning error_level warning"><%= errors[i].level %></span>
            <%= errors[i].message %>
        </h3>
        <div class="tbl_warning">
        <% } %>

            <table class="grouped">
                <thead>
                <tr>
                    <% for (var j = 0; j < errors[i].values[0].annotation.length; j++) { %>
                    <th><%= errors[i].values[0].annotation[j].key %></th>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% for(var h = 0; h < errors[i].values.length; h++) { %>
                <tr>
                <% for(var j = 0; j < errors[i].values[h].annotation.length; j++) { %>
                    <% if(errors[i].values[h].annotation[j].is_auto_annotation) { %>
                    <td data-auto-annotation='true' data-location='<%= errors[i].values[h].annotation[j].location %>'><%= errors[i].values[h].annotation[j].value %></td>
                    <% }else{ %>
                    <td><%= errors[i].values[h].annotation[j].value %></td>
                    <% } %>
                <% } %>
                </tr>
                <% } %>
                </tbody>

            </table>

        </div>
    <% } %>

</div>

<% if(annotated_filetypes.length > 0){ %>
    <div class="container user-reaction">
        <div class="input-group">
        <% for(var i=0; i< annotated_filetypes.length; i++){ %>
            <a href="<%= annotated_file_baseurl %>/<%= annotated_filetypes[i] %>/autocorrect" target="_blank">auto-corrected file (<%= annotated_filetypes[i] %>)</a><br/>
        <% } %>
        </div>
    </div>
<% } %>
<script>
    $(function(){
        if($("#edit-option").is(":checked")){
            $(".result-group input[type=text]").prop("disabled", false);
            $(".result-group input[type=text]").css("border", "solid 1px #cccccc");
            /*
            $(".result-group input[type=text]").change(function(){

            })
            */
        }
        $(".grouped").DataTable({
             "searching": false
        });
    })
</script>

