<div class="container result-summary group">
    <h2>Error found in while checking this document</h2>
    <table class="result">
        <tbody>
        <tr>
            <th>Result:</th>
            <td>
                <span class="error_info">
                    <% if(error_size != 0){ %>
                    <%= error_size %> Errors
                    <% } else if(exception){%>
                        <%= exception %>
                    <% } else { %>
                    No Errors Found
                    <% } %>
                </span>
            </td>
        </tr>
        <tr>
            <th>File:</th>
            <td><%= original_file %></td>
        </tr>
        <tr>
            <th>Validation Method:</th>
            <td><%= method %></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container result-group">
    <h2>Error Message</h2>

    <% for(var i=0; i< errors.length; i++){ %>

        <% if(errors[i].level == "error"){ %>
        <h3>
            <span class="label label-danger error_level error"><%= errors[i].level %></span>
            <%= errors[i].message %>
        </h3>
        <div class="tbl_error">

        <% }else if(errors[i].level == "warning"){ %>
        <h3>
            <span class="label label-danger error_level warning"><%= errors[i].level %></span>
            <%= errors[i].message %>
        </h3>
        <div class="tbl_warning">
        <% } %>

            <table>
                <tr>
                    <% for (var j = 0; j < errors[i].values[0].annotation.length; j++) { %>
                    <th><%= errors[i].values[0].annotation[j].key %></th>
                    <% } %>
                </tr>

                <% for(var h = 0; h < errors[i].values.length; h++) { %>
                <tr>
                <% for(var j = 0; j < errors[i].values[h].annotation.length; j++) { %>
                    <% if(errors[i].values[h].annotation[j].is_auto_annotation) { %>
                    <td data-auto-annotation="true">
                        <%= errors[i].values[h].annotation[j].value %>
                    </td>
                    <% }else{ %>
                    <td>
                        <%= errors[i].values[h].annotation[j].value %>
                    </td>
                    <% } %>
                <% } %>
                </tr>
                <% } %>

            </table>

        </div>
    <% } %>

</div>

<div class="container user-reaction">
    <div class="input-group">
        <button id="dl_xml" type="button" class="btn btn-default btn-sm">down load file</button>
    </div>
</div>
<script>
    $(function(){
        if($("#edit-option").is(":checked")){
            $(".result-group input[type=text]").prop("disabled", false);
            $(".result-group input[type=text]").css("border", "solid 1px #cccccc");
            /*
            $(".result-group input[type=text]").change(function(){

            })
            */
        }
    })
</script>

